.c-featured-post {
  width: 90%;
  .c-featured-post-b-left {
    width: 55%;
    .c-featured-post-left {
      width: 65%;
    }
    .c-featured-post-right {
      width: 25%;
    }
  }
  .c-discover {
    width: 35%;
  }
}
