.c-herosection {
  .c-herosection-container {
    background-color: #ffc017;
    .c-herosection-wrapper {
      width: 90%;
      .c-herosection-content-left {
        width: 48%;
      }
      .c-herosection-header {
        font-size: 4.4rem;
        line-height: 4.4rem;
      }
    }
  }
}
