.c-container {
  .c-following {
    .ant-avatar {
      margin-top: 2em;
      margin-bottom: 1.8em;
      margin-right: 0.9em;
    }
  }
  .c-btn-browse {
    background-color: #1a8917;
    outline: none;
    border: none;
    font-size: 14px;
  }
}

.ant-tabs-tab-btn {
  font-weight: 300;
  font-size: 14px;
}
.ant-tabs-tab:hover {
  color: #000;
}
