.c-menutooltip::after {
  content: '';
  position: absolute;
  bottom: -6%;
  left: 8%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: #efefef transparent transparent transparent;
}
.c-notificationtooltip::after {
  content: '';
  position: absolute;
  top: -4%;
  left: 33%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #909090 transparent;
}
